# Chặn các file rác của Godot 4 ở mọi cấp thư mục
**/.godot/
**/*.tmp
**/*.uid
**/.import/

# Chặn file cấu hình xuất game 
**/export_presets.cfg


# Chặn các file rác của Windows
Thumbs.db
desktop.ini
